.tableContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tableTitle {
  display: flex;
  font-size: 1.5em;
  align-items: start;
}

.buttonCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsButton {
  padding: 5px;
  background: none;
  color: #000;
  border: none;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  text-decoration: underline;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  cursor: pointer;
}